doctype html
html(lang="ja")
  block vars
    - var title="タイトル"
    - var description="説明"
    - var ogpImage="https://dummyimage.com/1200x600/ff0000/0011ff.jpg"
    - var twitterName=""
    - var faviconUrl=""
    - var ogpUrl=""
    - var siteName=""
    - var mediaQueryPc="(min-width:768px)"
    - var versionForCache=""
    - var cacheQuery = versionForCache ? `?ver=${versionForCache}` : ""
  block functions
    -
      function zeroPadding(num, qty) {
        return `${"0".repeat(qty)}${num}`.slice(qty * -1);
      }
      function separateSrc(src){
        const matchExt=/\.([^.]+)$/;
        const extMatched=src.match(matchExt);
        const baseName=src.replace(matchExt,"");
        if(!extMatched){
          throw new Error("src requires ext");
        }
        const ext=extMatched[1];
        return {
          baseName,
          ext,
        };
      }
  block mixins
    mixin picture({src,alt="",className="",media=false,loading="eager",webp=false})
      -
        const {baseName,ext}=separateSrc(src);
        if(webp && ext!="jpg" && ext!="png"){
          throw new Error(`(webp && ext!="jpg" && ext!="png") is invalid`);
        }
      picture
        if media
          if webp
            source(type="image/webp" media=mediaQueryPc srcset=baseName+"--pc.webp"+cacheQuery)
            source(type="image/webp" srcset=baseName+"--sp.webp"+cacheQuery)
          source(media=mediaQueryPc srcset=baseName+"--pc."+ext+cacheQuery)
          img(src=baseName+"--sp."+ext+cacheQuery alt=alt class=className loading=loading)
        else
          if webp
            source(type="image/webp" srcset=baseName+".webp"+cacheQuery)
          img(src=baseName+"."+ext+cacheQuery alt=alt class=className loading=loading)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title #{title}
    meta(name="description" content=description)
    meta(property="og:locale" content="ja_JP")
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    -if(!!ogpImage)
      meta(property="og:image" content=ogpImage)
    -if(!!ogpUrl)
      meta(property="og:url" content=ogpUrl)
    -if(!!siteName)
      meta(property="og:site_name", content=siteName)
    -if(!!ogpUrl)
      link(rel="canonical" href=ogpUrl)
    meta(name="twitter:card" content="summary_large_image")
    -if(!!twitterName)
      meta(name="twitter:site" content="@"+twitterName)
    -if(!!ogpImage)
      meta(name="twitter:image" content=ogpImage)
    meta(name="twitter:description" content=description)
    -if(!!faviconUrl)
      link(rel="shortcut icon" href=faviconUrl)

    block styles
      link(rel="stylesheet" href=relRoot+"assets/css/style.css"+cacheQuery)
    block scripts
      script(src=relRoot+"assets/js/bundle.js"+cacheQuery)
      script(src=relRoot+"assets/js/common.js"+cacheQuery)
  body
    .l-wrapper
      .l-header
        .c-header-logo
          a(href=relRoot) ロゴ
      .l-main
        block main
      .l-footer.c-footer-area
        .c-footer-area__copyright
          |&copy; 20XX novogrammer
