extends /_base
block append vars
  - title="個別タイトル"
  - description="個別説明"
  - ogpImage="https://dummyimage.com/1200x600/00ff00/0011ff.jpg"
block append styles
  link(rel="stylesheet" href=relRoot+"assets/css/index.css")
block append scripts
  script(src=relRoot+"assets/js/index.js")
block main
  .dummy-background-images
    .dummy-background-images__image.dummy-background-images__image--image01 イメージ01
    .dummy-background-images__image.dummy-background-images__image--image02 イメージ02
    .dummy-background-images__image.dummy-background-images__image--image03 イメージ03
  .dummy-images
    img.dummy-images__image.dummy-images__image--image01(src=relRoot+"assets/img/dummy/dummy-images__image--image01.png" alt="イメージ01")
    img.dummy-images__image.dummy-images__image--image02(src=relRoot+"assets/img/dummy/dummy-images__image--image02.png" alt="イメージ02")
    img.dummy-images__image.dummy-images__image--image03(src=relRoot+"assets/img/dummy/dummy-images__image--image03.png" alt="イメージ03")
  section.dummy-section
    h1.dummy-section__title ダミータイトル
    p.dummy-section__text ダミーテキスト
